# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dlfofeope
VITE_CLOUDINARY_API_KEY=446333691722363
VITE_CLOUDINARY_API_SECRET=LCGpxWOTcrBHtbXs4znbvusK_GE
VITE_CLOUDINARY_UPLOAD_PRESET=dadafoot_uploads 